$cream: #fff7e6;
$darkEarth: #4a3f35;
$accent: #bcaaa4;

@font-face {
    font-family: 'Young Style', sans-serif;
    font-family: 'Young Style Underlines', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/young-style') format('woff2');
}
#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .photos {
        max-width: 500px;
    }

    .product-img {
        max-width: 100%;
        height: auto;
    }
    #back-out{
        font-size: 20px;
        font-family: 'Young Style', sans-serif;
        text-decoration: none;
        color: #bcaaa4;
        margin-bottom: -30px;
    }
    #item-name {
        font-size: 30px;
        margin-top: 40px;
        font-family: 'Young Style', sans-serif;
        margin-bottom: -10px;
        color: #4a3f35;
    }
    #item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        .photos{
            border: #4a3f35 solid 4px;
        }
        #item-info {
            text-align: center;
            margin-left: 50px;
            background-color: $accent;
            width: 300px;
            border-radius: 8px;
            padding: 10px;
            height: 400px;
            padding-top: 100px;
            #item-price {
                font-size: 50px;
                margin-bottom: 5px;
                font-family: 'Courier New', Courier, monospace;
                font-weight: bold;
            }
            #item-description {
                margin-top: 50px;
                font-size: 16px;
                color: #555;
                margin-left: 8px;
                margin-right: 8px;
            }
            #add-to-cart {
                margin-top: 100px;
                background-color: $accent;
                height: 80px;
                width: 140px;
                color: $cream;
                border: none;
                padding: 10px 20px;
                font-size: 16px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
                &:hover {
                    background-color: $darkEarth;
                }
            }
        }
    }
}
